@import url('mixin.less');

#banner{
	width:100%;
	.bbody{
		position: relative;
		width:100%;
		height:100%;
		overflow:hidden;
		
		ul{
			height:100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index:4;
			.transition(left 1s);
			font-size:0;
			&, > li{
				height:100%;
				display:inline-block;
			}
			li{
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				display:inline-block;
			}
		}

		#controller{
			z-index:5;
			position: absolute;
			bottom:100px;
			left:50%;
			font-size:0;
			li{
				width:50px;
				height:2px;
				margin:0 5px;
				padding-top: 10px;
				padding-bottom: 10px;
				display: inline-block;
				.box-sizing(content-box);
				.border-radius;
				background-color: rgba(128,128,128,.2);
				.background-clip;
				cursor: pointer;
				span{
					.border-radius;
					height:100%;
					width:0;
					background-color: gray;
					display:block;
				}
				&.active{
					span{
						.animation(progress 5s ease-in-out infinite);
					}
				}
			}
		}

	}



}


@keyframes progress{
	0%{width:0}
	100%{width:100%}
}




